.container {
  min-width: 1200px;
  border: 1px solid black;
  background-color: grey;
  border-radius: 10px;
}

.list {
  list-style: none;
}

.item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #e7e7e7;
}

.number {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #e7e7e7;
}
